

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    background-color: red;
    top: 0;
    height: 13%;
    right: 0px;
    width: 85%;
}

#menuItems {
    text-align: center;
    position: fixed;
    background-color: rgb(0, 0, 0);
    left: 0;
    top: 0;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
}

#jumpMenu {
    display: none;
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: rgb(206, 206, 128);
    width: 100%;
    font-size: 15px;
}

#recentArticles:hover + #jumpMenu,
#jumpMenu:hover {
    display: block;
}

#jumpMenu a:hover {
    background-color: blue;
    color: rgb(255, 255, 255);
}


#menuItems button {
    font-size: 20px;
    width: 100%;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: blue;
}

#menuItems button:hover {
    background-color: darkgoldenrod;
}

header p {
    text-align: center;
    font-size: 30px;
}



#container {
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15%; 
    margin-top: 0%; 
    width: 85%; 

}

#container article {
    width: 300px; 
    margin: 10px;
    color:rgb(173, 172, 172);
    transition: font-size 2s ease;
}

#container article p:first-of-type::first-letter {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
}

#container article:hover {
    color:black;
    font-size: 20px;
}

a[href="http://www.google.com"]::after {
    content:  url(arrow.png);
}

main h1 {
    font-size: 30px;
    margin-top: 13%;
    margin-left: 10%; 
    width: 90%; 
    text-align: center; 
    
}

#thanks {
    position: fixed;
    font-size: 30px;
    bottom: 0;
    right: 0;
    border: 2px solid black; 
    text-align: center;
    padding: 10px; 
    background-color: rgb(93, 182, 204); 
    margin: 0;

}

footer {
    text-align: center;
}
